<app-navbar></app-navbar>
<div class="background">
  <h1 class="title"> Devis par tél</h1>
</div>
<div class="center">
    <div class="rectangle">
        <div class="mo1">
            <div class="cercle"> <mat-icon class="icon">book_online_icon</mat-icon></div>
        <h6> Devis en ligne</h6>
    </div>
    <div class="mo1">
        <div class="cercle"> <mat-icon class="icon">price_check_icon</mat-icon></div>
    <h6> Le meilleure prix </h6>
    </div>
    <div class="mo1">
        <div class="cercle"> <mat-icon class="icon">handshake_icon </mat-icon></div>
    <h6> Garantie en 12 mois</h6>
    </div>
    <div class="mo1">
        <div class="cercle"> <mat-icon class="icon">payment_icon </mat-icon></div>
    <h6> Paiement en 4 fois </h6>
    </div>
    <div class="mo1">
        <div class="cercle"> <mat-icon class="icon">car_rental_icon </mat-icon></div>
    <h6> Voiture de prét</h6>
    </div>
    
    </div>
    </div>

    <div class="pere">
        <h3 class="b1"> Avec   <div class="img">
            <img alt="" src="../../assets/logo2.png" width="290" height="105" class="logo2" /> <br/> <br/> <br/>
          </div> vous pouvez demander un devis par téléphone  </h3>
          <div class="fils">
            <mat-icon class="icon2">call</mat-icon>
            <h3 class="b1">01 79 72 79 90</h3>
          </div> <br> <br> <br>
          <div>
            <h3 class="b1">Service commercial : </h3>
            <div class="fils1"><mat-icon>check_icon</mat-icon> <h5 class="b2"> Nathalie BASIN</h5> </div> <br>
            <div class="fils1"><mat-icon>check_icon</mat-icon> <h5 class="b2"> Hédi MAGRI</h5> </div>
          </div>
    </div> <br> <br> <br> 
<app-footer></app-footer>